body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background: #0e3961;
  background: linear-gradient(360deg,
      rgba(14, 57, 97, 1) 15%,
      rgba(68, 178, 228, 1) 41%,
      rgba(56, 134, 89, 1) 51%,
      rgb(14, 57, 97) 65%,
      rgba(240, 255, 255, 1) 95%);
  background-repeat: no-repeat;
}

header {
  background-color: azure;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
  left: 0px;
}

h1 {
  text-align: center;
}

footer {
  color: black;
  background-color: #f0ffff;
  width: 100%;
  position: absolute;
  left: 0;
}

footer a {
  color: #0e3961;
}

footer a:hover {
  font-size: 120%;
}

a {
  color: #0e3961;
}

main a {
  color: #44b2e4;
}

.container {
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 25px;
  margin: 75px 30px 50px 30px;
}

.box {
  width: 80%;
  height: 740px;
  background-color: black;
  color: white;
  text-align: center;
  opacity: 0.8;
  padding: 25px;
  margin: 75px 30px 50px 30px;
}

.topnav {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}

.topnav a {
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #f0ffff;
  color: black;
  font-size: 130%;
}

.imgcaption {
  font-style: italic;
  text-align: center;
}

.sr-only {
  /* kod från https://webaim.org/techniques/css/invisiblecontent/ för att dölja h1 */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (max-width: 502px) {
  .topnav a {
    font-size: 14px;
  }

  .topnav a:hover {
    font-size: 110%;
  }
}
