#medlemsform {
  width: 80%;
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 25px;
  margin: 100px auto 30px auto;
}

fieldset {
  margin-top: 20px;
  border-radius: 20px;
}

@media (min-width: 360px) {
  label {
    display: flex;
    margin-top: 5px;
  }
}
