h1 {
  text-align: center;
}

ul {
  list-style-type: square;
}

ul li {
  text-align: left;
  margin-top: 10px;
}

#överträdelse {
  margin-top: 40px;
  font-size: 150%;
}

@media (min-width: 800px) {
  main {
    display: flex;
    justify-content: space-evenly;
  }
}
